<html>
    <head>
        <title>Jane did a blog thing</title>
    </head>
    <body>
        <div>
            <h1><a href="">H1 Heading</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">H2 for my post titles</a></h2>
            <p>Really fascinating stuff you want to read.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">A second post</a></h2>
            <p>Even more exciting things ... because life.</p>
        </div>
    </body>
</html>
